<div class="page-header">
<h2>Produtos</h2>
</div>


<div style="overflow-y: scroll;">
    

{{#each produtos_list}}
<div style="background-color: white; 
padding: 12px; 
border-radius: 5px; 
font-family: Roboto Slab; 
box-shadow: 0px 5px 10px #616161; 
width: 850px;">
<td >

<ul style="list-style-type: none;">

<li><b>Nome: </b> {{DESCRI}}</li>
<li><b>Tipo: </b> {{TIPO}}</li>
<li><b>Stock: </b> {{STOCK}}</li>
<li><b>Familia: </b> {{FAMILIA}}</li>
<li><b>Id: </b> {{CODIGO}}</li>

</ul>

</td>

</br>
<button type="button" class="btn btn-important">Edit...</button>

</div>
</br>
{{/each}}
</div>



